<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DatabaseAccess"
        connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=VehicleTracking;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="GMapAPIKey" value="Your GMap API Key"/>
  </appSettings>


</configuration>
